@import '../partials/variables';

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Roboto, Arial, sans-serif;
}
.select-block{
  position: relative;
  .top-input-block{
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .caret-box{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(45deg);
    transition: all .2s;
    height: 0;
    width: 0;
    border: 4px dashed transparent;
    border-bottom: 4px solid #818181;
    border-right: 4px solid #818181;
    transform-origin: center;
    &.reverted{
      top: 50%;
      transform: rotate(225deg) translateY(0%);
      transform-origin: center;
    }
  }
  .input-brand{
    padding: 10px 5px;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $brand_color;
    position: relative;

  }
  .select-boxes{
    display: none;
    position: absolute;
    top: 49px;
    left: 0;
    width: 100%;
    max-height: 400px;
    z-index: 200;
    overflow-y: auto;
    &.open{
      display: block;
    }
  }
  .label{
    position: absolute;
    top: 50%;
    left: 5px;
    padding: 0;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: normal;
    color: #808080;
    transition: all .2s;
    &.clicked{
      top: -5px;
      font-size: 80%;
    }

    & .delete{
      opacity: 0;
      font-size: 18px;
      position: relative;
      top: 1px;
      color: #ccc;
      &.visible{
        opacity: 1;
      }
    }
  }
  .select-boxes {
    .selected.open{
      border-bottom: 1px solid rgba(65, 65, 80, 0.23)
    }
    .selected,
    .unselected {
      list-style: none;
      background-color: #fff;
      height: 0;
      visibility: hidden;

      &.open {
        height: 100%;
        visibility: visible;
        margin-bottom: 0;
      }

      & li {
        padding: 15px 0 0 40px;
        position: relative;

        &:last-of-type {
          padding-bottom: 15px;
        }

        & input[type="checkbox"] {
          display: none;

          &:checked + label:before {
            font-family:'iconfont';
            content: '\EA14';
            color: #fff;
            font-size: 15px;
            line-height: 20px;
            text-align: center;


            font-style: normal;
            font-weight: normal;
            -webkit-font-smoothing: antialiased;
            speak: none;

            background-color: $brand_color;
            border: 1px solid $brand_color;
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 1;
            border-bottom: 1px solid rgba(65, 65, 80, 0.23)
          }
        }

        label {
          color: #777;
          font-weight: normal;
          margin-bottom: 0;
          margin-left: 10px;

          &:before {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: 15px;
            left: 15px;
            border: 1px solid #414150;
            border-radius: 4px;
            opacity: .3;
          }
        }
      }
    }
  }
  .items-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.select-hidden{
  display: none;
}
